
.nav-container{
    background-color: rgb(8, 73, 172);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pages{
color: rgb(240, 238, 235);
text-decoration: none;
cursor: pointer;
border: 2px solid black;
border-radius: 4px;
padding: 5px;
}

.active{
    color: rgb(211, 130, 31);
    font-weight: bold;
text-decoration: none;
cursor: pointer;
}

a:hover{
    color:orange;
}

.logo{
    width: 4rem;

}

.logo-carrito{
    width: 2rem;
}



.msj-bienvenida{
    color: white;
    display: flex;
    justify-content: center;
}

.btn{
    background-color: rgb(149, 158, 240);
}
