.nav-container{
    background-color: rgba(77, 22, 88, 0.904);
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pages{
color: rgb(240, 231, 220);
text-decoration: none;
cursor: pointer;
}

a:hover{
    color:orange;
}

.logo{
    width: 8rem;

}

.logo-carrito{
    width: 2rem;
}

.msj-bienvenida{
    color: rgb(113, 39, 122);
    display: flex;
    justify-content: center;
}